/* responsive.scss */

/* JS Class triggers
-------------------------------------
*/
#trigger {height:1px; width:3px; position:absolute; bottom:0; right:0; background-color:transparent;}
@media (max-width:767px) { #trigger {width:2px;} }
@media (max-width:550px) { #trigger {width:1px;} }
@media (max-width:321px) { #trigger {width:0px;} }

/* Alien Kitty
-------------------------------------
*/
@media (max-width:767px) {
	#intro-kitty {
        margin-bottom:5px;
			.bubble-info {
                float:left;
				position:relative;
			}
			.thought-bubbles-info {
			position:absolute;
			left:0;
			bottom:0;
				.bubble-first {bottom:10px; left:-36px}
				.bubble-second {bottom:18px; left:-28px; width:10px; height:10px;}
				.bubble-third {bottom:28px; left:-18px; width:15px; height:15px;}
		}
        .xs-title {
            color:#fff;
            vertical-align:top;
            padding-top:7px;
            float:left;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
        }
        
	}
    #alien-kitty {
        float:left;
        width:88px;
        height:52px;
        @include background-size(contain);
        margin: 0;   
    }
}
@media (max-width:405px) {
    #intro-kitty .xs-title {font-size:180%; padding-top:13px;}
}
// git box scaling
@media (max-width:1190px) {#intro-kitty .bubble-git{left:15px;}}
@media (max-width:1100px) {#intro-kitty .bubble-git{left:25px;}}
@media (max-width:990px) {#intro-kitty .bubble-git{left:35px;}}
@media (max-width:925px) {#intro-kitty .bubble-git{left:45px;}}
@media (max-width:890px) {#intro-kitty .bubble-git{left:52px;}}
@media (max-width:840px) {#intro-kitty .bubble-git{left:60px;}}
@media (max-width:790px) {#intro-kitty .bubble-git{left:65px;}}

/* Slide Nav
-------------------------------------
*/
@media (max-width:890px) {
    #slide-nav {
            .content-box {padding:8px 12px;}
            h1 {font-size:150%;}
    }
}
@media (max-width:767px) {
    #slide-nav {
            #slide-buttons {padding-left:0;}
            .button {height:0; overflow:hidden;}
            #mobile {cursor:pointer;}
            .content-box {height:100%; padding-top:12px;}
    }
}
@media (max-width:550px) {
    #slide-nav {
            h1 {font-size:180%;}
    }
}

@media (max-width:349px) {#slide-nav h1{font-size:140%;}}


/* intro
-------------------------------------
*/
@media (min-width:982px) and (max-width:1080px) {
    #content {
            #introduction {
                    #intro-skills {
                            .content-box.black {
                                font-size:72%;
                            }
                    }

            }
    }
    .codebox-grey {font-size:72%;}
}

@media (max-width:992px) {
	#content #skills .info {margin-bottom:5px;}
}
@media (max-width:767px) {
	#skills .wrap.no-lr {padding-left:15px; padding-right:15px;}
}

@media (min-width:992px) and (max-width:1350px) {
	#content {
			#skills {
					.photoshop h4.title {padding-top:3px;}
					.photoshop h4 span.sym {display:none;}
			}
	}
}

/* Work
-------------------------------------
*/
@media (max-width:767px) {
	#content #work #carousel {
			.item-info .content-box.title-col {
				height:55px;
			}
			h4.title {font-size:186%; margin-top:3px;}
	}
}

/* About
-------------------------------------
*/
@media (max-width:767px) {
	#about {
					
			.curtains {text-align:center; margin:0 auto 20px auto;}
			img.mail {margin-bottom:20px;}
			h3, p {text-align:center;}
            ul {display:table; margin:0 auto; width:200px;}
			li {text-align:left;}
            .contact {text-align:center;}
            .general p, .services p {text-align:left;}
	}
}