/* rules.scss */

/* Mixins */
@mixin opacity($opacity) {
	-moz-opacity: $opacity;
	-khtml-opacity: $opacity;
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=$opacity-ie);
}
@mixin border-radius($border-radius) {
	-webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	border-radius: $border-radius;
}
@mixin border-bottom-radius($border-bottom-radius) {
	-webkit-border-bottom-right-radius: $border-bottom-radius;
	-webkit-border-bottom-left-radius: $border-bottom-radius;
	-moz-border-radius-bottomright: $border-bottom-radius;
	-moz-border-radius-bottomleft: $border-bottom-radius;
	border-bottom-right-radius: $border-bottom-radius;
	border-bottom-left-radius: $border-bottom-radius;
}
@mixin border-top-radius($border-top-radius) {
	-webkit-border-top-left-radius: $border-top-radius;
	-webkit-border-top-right-radius: $border-top-radius;
	-moz-border-radius-topleft: $border-top-radius;
	-moz-border-radius-topright: $border-top-radius;
	border-top-left-radius: $border-top-radius;
	border-top-right-radius: $border-top-radius;
}
@mixin border-left-radius($border-left-radius) {
	-webkit-border-top-left-radius: $border-left-radius;
	-webkit-border-bottom-left-radius: $border-left-radius;
	-moz-border-radius-topleft: $border-left-radius;
	-moz-border-radius-bottomleft: $border-left-radius;
	border-top-left-radius: $border-left-radius;
	border-bottom-left-radius: $border-left-radius;
}
@mixin border-right-radius($border-right-radius) {
	-webkit-border-top-right-radius: $border-right-radius;
	-webkit-border-bottom-right-radius: $border-right-radius;
	-moz-border-radius-topright: $border-right-radius;
	-moz-border-radius-bottomright: $border-right-radius;
	border-top-right-radius: $border-right-radius;
	border-bottom-right-radius: $border-right-radius;
}
@mixin translate($x,$y) {
	-moz-transform: translate($x,$y);
	-o-transform: translate($x,$y);
	-ms-transform: translate($x,$y);
	-webkit-transform: translate($x,$y);
	transform: translate($x,$y);
}
@mixin transition($transition) {
	-webkit-transition:$transition;
	-moz-transition:$transition;
	-o-transition:$transition;
	transition:$transition;
}
@mixin box-shadow ($box-shadow) {
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}
@mixin background-size ($background-size) {
	-webkit-background-size: $background-size;
	-moz-background-size: $background-size;
	-o-background-size: $background-size;
	background-size: $background-size;
}

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Abel|Electrolize);
$title-font: 'Electrolize', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$body-font: 'Abel', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$simple-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$code: Consolas, monaco, monospace;
.title {font-family: $title-font;}
.body {font-family: $body-font;}
.simple {font-family: $simple-font;}

/* Colors */
$font: #343434;
$yellow: #f3f94f;
$blue: #5eacef;
$pink: #ef5ecf;
$green: #15c235;
$red: #e5314b;
$orange: #db6b10;
$skills-grey: #9c9793;


/* Font Color classes */



/* Stylistic */
* {
	@include transition(all 0.5 ease);
}


/* Globals */
ul, ol, menu, dir {-webkit-margin-before: 0px; -webkit-margin-after: 0px; -webkit-margin-start: 0px; -webkit-margin-end: 0px; -webkit-padding-start: 0px; padding:0;}
ul {list-style-type:none;}
h1,h2,h3,h4,h5, h6 {margin:0; padding:0; font-family:$title-font; text-transform:uppercase; font-weight:normal;}
p {margin:0; padding:0;}
a, span {font-family:inherit; color:inherit;}
a, a:link, a:visited, a:hover, a:active {color:inherit; text-decoration:none; outline:0;}
body {font-family:$body-font; color:$font;}
html, body {width:100%; height:100%;}
body {position:relative;}
html {background-color:#000;}

/* Layout */
#master {position:relative; z-index:3000;}
#gradient, #smoke, #feathers {z-index:2000;}
#gradient{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
#blk{
	z-index:1000;
	position:fixed; width:100%; height:100%; bottom:0; left:0;
	background-color:#000;
}
#smoke{
	//position:absolute; width:100%; height:100%; bottom:0; left:0;
	//background:transparent url("../images/bg_smoke.png") repeat-x center bottom;
}
#feathers{
	//position:absolute; width:100%; height:100%; bottom:0; left:0;
	//background:transparent url("../images/bg_boxes.jpg") repeat center top;
}

/* Content Boxes */
.content-box {
	position:relative;
	padding:10px;
}
.content-box.black {
	background-color:rgba(0,0,0,.77);
	color:#fff;
	@include box-shadow(0px 0px 5px 0px rgba(0, 0, 0, 0.42));
}
.content-box.white {
	background-color:rgba(255,255,255,.77);
	border: 1px solid #efefef;
	color:#000;
	@include box-shadow(0px 0px 5px 0px rgba(255, 255, 255, 0.42));
}

/* Addon Classes */
.no-lr {padding-left:0; padding-right:0;}
.content-box.no-side {border-left:0; border-right:0; @include box-shadow(none);}

/* Imports */
@import 'gradient';
@import 'forms';